app/__pycache__
app/backend/__pycache__
app/instance/ecommerce.db
.venv
.env
infrastructure/.terraform
infrastructure/.terraform.lock.hcl
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup